@import "https://fonts.googleapis.com/css?family=Montserrat:400,700,200";
@import "https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css";
@import "../Content/assets/css/bootstrap.min.rtl.css";
@import "../Content/assets/css/paper-dashboard.rtl.css";
@import "../Content/assets/demo/demo.rtl.css";
@font-face {
    font-family: 'DroidArabicKufiRegular';
    src: url('fonts/DroidKufi-Regular.eot') format('embedded-opentype'), url('fonts/DroidKufi-Regular.woff') format('woff'), url('fonts/DroidKufi-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'DroidArabicKufiRegular';
}