@import "https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons";
@import "https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/bootstrap-rtl/3.4.0/css/bootstrap-rtl.css";

/*@import "https://fonts.googleapis.com/css?family=Montserrat:400,700,200";
@import "https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css";*/

/*@import "../Content/assets/css/bootstrap.min.rtl.css";
@import "../Content/assets/css/paper-dashboard.rtl.css";
@import "../Content/assets/demo/demo.rtl.css";*/
/*@import "../Content/assets/demo/demo.rtl.css";*/
@import "../Content/assets/css/material-dashboard.rtl.css";
/*@import "../Content/assets/css/material-dashboard.min.rtl.css";*/

@font-face {
    font-family: 'DroidArabicKufiRegular';
    src: url('fonts/DroidKufi-Regular.eot') format('embedded-opentype'), url('fonts/DroidKufi-Regular.woff') format('woff'), url('fonts/DroidKufi-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.is-focused {
    text-align:right!important;
}


* {
    font-family: 'DroidArabicKufiRegular';
}

.sidebar .nav p {
   
    color: white !important;
}

.el-form-item__error {
    color: #f56c6c;
    font-size: 12px;
    text-align: right;
    line-height: 1;
    padding-top: 4px;
    position: absolute;
    top: 100%;
    /* left: 0; */
}

.el-form--label-top .el-form-item__label {
    float: right;
    display: inline-block;
    text-align: left;
    padding: 0 0 0px;
}

.title {
    margin-top: 30px;
    margin-bottom: 25px;
    min-height: 32px;
    font-family: 'DroidArabicKufiRegular';
}

.card .card-header.card-header-icon .card-title, .card .card-header.card-header-text .card-title {
    margin-top: 15px;
    color: #3C4858;
    font-family: 'DroidArabicKufiRegular';
}

dropdown__item.hover, .el-select-dropdown__item:hover {
    background-color: #f5f7fa;
    margin-right: 5px;
}

.el-form-item__error {
    color: #f56c6c;
    font-size: 12px;
    line-height: 1;
    padding-top: 4px;
    position: absolute;
    top: 100%;
    right: 0;
}

.sidebar .sidebar-wrapper > .nav [data-toggle="collapse"] ~ div > ul > li > a .sidebar-normal, .sidebar .sidebar-wrapper .user .user-info [data-toggle="collapse"] ~ div > ul > li > a .sidebar-normal {
    margin: 0;
    position: relative;
    transform: translateX(0px);
    opacity: 1;
    white-space: nowrap;
    display: block;
    color: white;
}


.sidebar .sidebar-wrapper > .nav [data-toggle="collapse"] ~ div > ul > li > a .sidebar-mini, .sidebar .sidebar-wrapper .user .user-info [data-toggle="collapse"] ~ div > ul > li > a .sidebar-mini {
    text-transform: uppercase;
    width: 30px;
    margin-left: 15px;
    text-align: center;
    letter-spacing: 1px;
    position: relative;
    float: right;
    display: inherit;
    color: white;
}

.el-alert__title {
    font-size: 32px;
    line-height: 18px;
}

.el-message-box__status.el-icon-warning {
    color: #e6a23c;
    left: 23px;
}

.el-message-box__message p {
    margin: 0;
    line-height: 24px;
    margin-left: 11px;
}

.el-pagination.is-background .el-pager li.active {
    background-color: deeppink !important;
    color: #fff;
}


/*.is-focused .bmd-label-floating, .is-filled .bmd-label-floating {
    right: 0!important;
}

.inputStylePlaceHolderRTL {
    text-align: right!important;
}

.bmd-form-group .bmd-label-static {
    top: 0.35rem;
    position: relative;
    font-size: 0.875rem;
    float: right;
}*/



