

    <div class="content" style="direction:rtl">
        <div class="row" v-if="state==0">

            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-rose card-header-icon">
                        <div class="card-icon" style="float: right;">
                            <i class="material-icons">people_alt</i>
                        </div>
                        <h4 class="card-title" style=" font-family: inherit;font-weight: bold;">رسائل الزوار </h4>
                    </div>
                    <div class="card-body">
                        <div class="row" v-if="Requests==0">

                            <div class="col-md-10">
                                <div class="form-group">
                                    <br /><br />
                                    <el-alert style="font-size: 35px;" title="عفــوا! لاتوجد بيانات للرسائل"
                                              type="info">
                                    </el-alert>
                                </div>
                            </div>
                        </div>
                        <br />
                        <br />
                        <br />
                        <div class="table-responsive" v-if="Requests!=0">
                            <table class="table table-shopping">
                                <thead>
                                    <tr class="text-primary">
                                        <th style="font-size: 1.063rem;">الإسم</th>
                                        <th style="font-size: 1.063rem;">البريد الإلكتروني</th>
                                        <th style="font-size: 1.063rem;">الملاحظة</th>
                                        <th style="font-size: 1.063rem;">تاريخ الإدراج</th>
                                        <th class="text-center" style="font-size: 1.063rem;">الإعدادات</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="item,index in Requests">
                                      
                                        <td>
                                            {{item.name}}
                                        </td>
                                        <td>
                                            {{item.email}}
                                        </td>
                                        <td>
                                            {{item.note}}
                                        </td>
                                        <td>
                                            {{item.createdOn | moment}}
                                        </td>
                                        

                                        <td class="td-actions text-center">
                                          
                                            <button type="button" rel="tooltip" @click.prevent="deleteitem(item.id)" class="btn btn-danger btn-link" data-original-title="حدف الرسالة">
                                                <i class="material-icons">close</i>
                                            </button>
                                        </td>

                                    </tr>

                                </tbody>
                            </table>
                        </div>
                        <hr />

                        <div class="row" v-if="Requests!=0">
                            <div class="col-sm-12 col-md-7">
                                <div class="disabled-sorting"
                                     id="datatable_info"
                                     aria-live="polite"
                                     role="status">

                                    <el-pagination background
                                                   layout="prev, pager, next"
                                                   :current-page="pageNo"
                                                   :page-size="pageSize"
                                                   :total="pages"
                                                   aria-controls="datatables"
                                                   @current-change="getUser($event)">
                                    </el-pagination>

                                </div>
                            </div>
                            <div class="col-sm-12 col-md-5" style="text-align: left;">
                                <div class="dataTables_info" id="datatables_info" role="status" aria-live="polite">Showing {{pageNo}} to {{pageSize}} of {{pages}} entries</div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
