






    <div>

        <nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent" style="
    border: transparent;
    margin-top: 25px;
">
            <div class="container">
                <div class="navbar-wrapper" style="
">
                    <div class="navbar-toggle"><button type="button" class="navbar-toggler"><span class="navbar-toggler-bar bar1"></span> <span class="navbar-toggler-bar bar2"></span> <span class="navbar-toggler-bar bar3"></span></button></div> <a href="#pablo" class="navbar-brand" style="
    color: white;
">Al-Madar Aljadid | VAS System</a>
                </div> <button type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"><span class="navbar-toggler-bar navbar-kebab"></span> <span class="navbar-toggler-bar navbar-kebab"></span> <span class="navbar-toggler-bar navbar-kebab"></span></button>
            </div>
        </nav>




        <div class="wrapper wrapper-full-page ">
            <div class="full-page register-page section-image" filter-color="black" data-image="../../assets/img/bg/jan-sendereks.jpg">
                <div class="content">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-5 col-md-5 ml-auto">
                                <div class="info-area info-horizontal mt-5">
                                    <div class="icon icon-primary">
                                        <i class="nc-icon nc-tv-2"></i>
                                    </div>
                                    <div class="description">
                                        <h5 class="info-title">Monitoring </h5>
                                        <p class="description">
                                            We've created the marketing campaign of the website. It was a very interesting collaboration.
                                        </p>
                                    </div>
                                </div>
                                <div class="info-area info-horizontal">
                                    <div class="icon icon-primary">
                                        <i class="nc-icon nc-html5"></i>
                                    </div>
                                    <div class="description">
                                        <h5 class="info-title">Statistic Info</h5>
                                        <p class="description">
                                            We've developed the website with HTML5 and CSS3. The client has access to the code using GitHub.
                                        </p>
                                    </div>
                                </div>
                                <div class="info-area info-horizontal">
                                    <div class="icon icon-info">
                                        <i class="nc-icon nc-atom"></i>
                                    </div>
                                    <div class="description">
                                        <h5 class="info-title">Built Audience</h5>
                                        <p class="description">
                                            There is also a Fully Customizable CMS Admin Dashboard for this product.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 mr-auto">
                                <div class="card card-signup text-center">
                                    <div class="card-header ">

                                        <div class="social">
                                            <div class="photo">
                                                <img src="/assets/img/bg/Almadar-logo.jpg" style="
    margin-top: -15px;
    height: 150px;
    display: block;
    margin-left: 40px;
">
                                            </div>
                                            <div style="height:30px"></div>
                                        </div>
                                    </div>
                                    <div class="card-body ">
                                        <form class="form" v-if="!ForgetPassword">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" style="padding: 10px 10px 10px 10px;">
                                                        <i class="nc-icon nc-single-02"></i>
                                                    </span>
                                                </div>
                                                <input type="email" v-model="form.Email" placeholder="you@example.com" class="form-control">
                                            </div>
                                            <div class="input-group">

                                            </div>
                                            <div class="input-group">

                                            </div>
                                            <div class="input-group">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text" style="padding: 10px 10px 10px 10px;">
                                                            <i class="nc-icon nc-key-25"></i>
                                                        </span>
                                                    </div>
                                                    <input type="password" auto-complete="off" v-model="form.Password" placeholder="*************" class="form-control"/>
                                                </div>
                                            </div>

                                        </form>
                                    </div>
                                    <div class="card-footer " style="margin-top:0px">
                                        <el-button class="btn btn " style="width: 50%;    background-color: #4b7521;" @click.prevent="Save()">Login</el-button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <footer class="footer footer-black  footer-white ">
                    <div class="container-fluid">
                        <div class="row" style="margin-left:10px">
                            <div class="pull-left">
                                <span class="copyright">
                                    ©
                                    Created By <i class="nc-icon nc-planet heart" style="color:aliceblue"></i>
                                    Almadar Aljadid Company
                                </span>
                            </div>
                        </div>
                    </div>
                </footer>
                <div class="full-page-background" style="background-image: url(../../assets/img/bg/jan-sendereks.jpg) "></div>
            </div>
        </div>
    </div>