
    <div>

        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top text-white">
            <div class="container">
                <div class="navbar-wrapper">
                    <a class="navbar-brand" href="#pablo">Login Page</a>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="navbar-toggler-icon icon-bar"></span>
                    <span class="navbar-toggler-icon icon-bar"></span>
                    <span class="navbar-toggler-icon icon-bar"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a href="../dashboard.html" class="nav-link">
                                <i class="material-icons">dashboard</i> Dashboard
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a href="../pages/register.html" class="nav-link">
                                <i class="material-icons">person_add</i> Register
                            </a>
                        </li>
                        <li class="nav-item  active ">
                            <a href="../pages/login.html" class="nav-link">
                                <i class="material-icons">fingerprint</i> Login
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a href="../pages/lock.html" class="nav-link">
                                <i class="material-icons">lock_open</i> Lock
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- End Navbar -->
        <div class="wrapper wrapper-full-page">
            <div class="page-header login-page header-filter" filter-color="black" style="background-image: url('../../assets/img/login.jpg'); background-size: cover; background-position: top center;">
                <!--   you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose " -->
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-sm-8 ml-auto mr-auto">

                            <el-form :model="form" :rules="rules" ref="ruleForm" label-position="top" label-width="120px" class="demo-ruleForm">

                                <div class="card card-login animated fadeInDown delay-1s">
                                <!--<div :class=ClassContenar>-->

                                    <div class="card-header card-header-rose text-center">
                                        <h4 class="card-title">Login</h4>
                                        <div class="social-line">
                                            <a href="#pablo" class="btn btn-just-icon btn-link btn-white">
                                                <i class="fa fa-facebook-square"></i>
                                            </a>
                                            <a href="#pablo" class="btn btn-just-icon btn-link btn-white">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                            <a href="#pablo" class="btn btn-just-icon btn-link btn-white">
                                                <i class="fa fa-google-plus"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="card-body ">
                                        <p class="card-description text-center">Or Be Classical</p>
                                        <span class="bmd-form-group">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <i class="material-icons">face</i>
                                                    </span>
                                                </div>
                                                <input type="text" class="form-control" v-on:keyup.enter="Save()" v-model="form.Email" placeholder="First Name...">
                                            </div>
                                        </span>
                                        <!--<span class="bmd-form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="material-icons">email</i>
                        </span>
                    </div>
                    <input type="text" class="form-control" v-on:keyup.enter="login()" v-model="form.Email" placeholder="First Name...">
                </div>
            </span>-->
                                        <span class="bmd-form-group">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <i class="material-icons">lock_outline</i>
                                                    </span>
                                                </div>
                                                <input type="password" class="form-control" v-on:keyup.enter="Save()" placeholder="Password..." v-model="form.Password" />
                                            </div>
                                        </span>
                                    </div>
                                    <div class="card-footer justify-content-center">
                                        <a href="#pablo" class="btn btn-rose btn-link btn-lg" @click.prevent="Save()">Lets Go</a>
                                    </div>
                                </div>
                            </el-form>
                        </div>

                    </div>
                </div>
                <footer class="footer">
                    <div class="container">
                        <!--<div class="copyright float-right">


                    <a href="https://www.linkedin.com/in/ahmed-bensuliman-6aa004131/" target="_blank">&copy; Made by AhmedTareck</a>
                </div>-->
                    </div>
                </footer>
            </div>
        </div>
        </div>