USE [master]
GO
/****** Object:  Database [CSOR]    Script Date: 7/28/2020 11:26:17 AM ******/
CREATE DATABASE [CSOR]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CSOR', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\CSOR.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CSOR_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\CSOR_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CSOR].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CSOR]
GO
/****** Object:  Table [dbo].[Centers]    Script Date: 7/28/2020 11:26:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Centers](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Status] [smallint] NULL,
 CONSTRAINT [PK_Centers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Organizations]    Script Date: 7/28/2020 11:26:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Organizations](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](250) NULL,
	[PublicityNo] [int] NULL,
	[StartDate] [datetime] NULL,
	[CenterId] [bigint] NULL,
	[ManagingDirectorName] [nvarchar](50) NULL,
	[ManagingDirectorPhone] [nvarchar](50) NULL,
	[ManagingDirectorExPhone] [nvarchar](50) NULL,
	[PresidentName] [nvarchar](50) NULL,
	[PresidentEmail] [nvarchar](50) NULL,
	[MembersCount] [int] NULL,
	[MembersMCount] [int] NULL,
	[MembersFCount] [int] NULL,
	[DAllLibya] [bit] NULL,
	[DSouth] [bit] NULL,
	[DWest] [bit] NULL,
	[DEast] [bit] NULL,
	[Advantages] [nvarchar](max) NULL,
	[IsGeneral] [bit] NULL,
	[Ages] [bit] NULL,
	[Quality] [bit] NULL,
	[Ethnic] [bit] NULL,
	[Geography] [bit] NULL,
	[Social] [bit] NULL,
	[Charitable] [bit] NULL,
	[HumanRights] [bit] NULL,
	[ElectoralAffairs] [bit] NULL,
	[OtherS] [bit] NULL,
	[OtherContentS] [nvarchar](250) NULL,
	[ResoneSpecialization] [nvarchar](max) NULL,
	[Vision] [nvarchar](max) NULL,
	[HaveDatabase] [bit] NULL,
	[DatabaseGoal] [nvarchar](max) NULL,
	[DatabaseBenefits] [nvarchar](max) NULL,
	[DatabaseSupport] [bit] NULL,
	[DatabaseSupportType] [smallint] NULL,
	[Cooperat] [bit] NULL,
	[CooperatField] [smallint] NULL,
	[CooperatFieldOther] [nvarchar](550) NULL,
	[IsWatched] [bit] NULL,
	[ParticipatedElections] [nvarchar](550) NULL,
	[ElectoralCommission] [nvarchar](550) NULL,
	[Observers] [int] NULL,
	[Issues] [nvarchar](550) NULL,
	[TraningPlace] [nvarchar](550) NULL,
	[TraningIssues] [nvarchar](550) NULL,
	[IsPrograms] [bit] NULL,
	[PostersDistribution] [bit] NULL,
	[Advertising] [bit] NULL,
	[Workshops] [bit] NULL,
	[Other] [bit] NULL,
	[OtherContent] [nvarchar](250) NULL,
	[CooperatDescription] [nvarchar](550) NULL,
	[IsCoalitionBefor] [bit] NULL,
	[CoalitionDescription] [nvarchar](550) NULL,
	[IsCompletedProject] [bit] NULL,
	[IsCompletedProjectDesc] [nvarchar](550) NULL,
	[SharedProjects] [bit] NULL,
	[SharedProjectsName] [nvarchar](250) NULL,
	[ExperiencesLessons] [nvarchar](250) NULL,
	[FundsProjects] [bit] NULL,
	[GovernmentalSources] [bit] NULL,
	[NationalBodies] [bit] NULL,
	[InternationalBodies] [bit] NULL,
	[AnotherSource] [bit] NULL,
	[ByRequest] [bit] NULL,
	[DirectOffer] [bit] NULL,
	[PublicTender] [bit] NULL,
	[DirectSponsorship] [bit] NULL,
	[OtherFinancing] [nvarchar](250) NULL,
	[AdministrationCapacity] [bit] NULL,
	[CommunicationCapacity] [bit] NULL,
	[NetworksCapacity] [bit] NULL,
	[ConsultingCapacity] [bit] NULL,
	[ComputersCapacity] [bit] NULL,
	[CampaignManagementCapacity] [bit] NULL,
	[CapacityOtherAreas] [nvarchar](250) NULL,
	[Monitor] [bit] NULL,
	[LegalFramework] [bit] NULL,
	[Media] [bit] NULL,
	[Education] [bit] NULL,
	[Addressing] [bit] NULL,
	[MonitorCampaign] [bit] NULL,
	[OtherCapabilities] [nvarchar](250) NULL,
	[CreatedOn] [datetime] NULL,
	[Level] [smallint] NULL,
	[ConfirmedBy] [bigint] NULL,
	[Status] [smallint] NULL,
 CONSTRAINT [PK_Organizations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 7/28/2020 11:26:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[CenterId] [bigint] NULL,
	[Name] [nvarchar](50) NULL,
	[LoginName] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[Password] [nvarchar](250) NULL,
	[Image] [varbinary](max) NULL,
	[Phone] [nvarchar](25) NULL,
	[BirthDate] [datetime] NULL,
	[LoginTryAttemptDate] [datetime] NULL,
	[LoginTryAttempts] [smallint] NULL,
	[LastLoginOn] [datetime] NULL,
	[Gender] [smallint] NULL,
	[UserType] [smallint] NULL,
	[CreatedBy] [bigint] NULL,
	[CreatedOn] [datetime] NULL,
	[ModifiedOn] [datetime] NULL,
	[ModifiedBy] [bigint] NULL,
	[State] [smallint] NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Centers] ON 

INSERT [dbo].[Centers] ([Id], [Name], [Status]) VALUES (1, N'مصراتة', NULL)
INSERT [dbo].[Centers] ([Id], [Name], [Status]) VALUES (2, N'الخمس', NULL)
INSERT [dbo].[Centers] ([Id], [Name], [Status]) VALUES (3, N'طرابلس', NULL)
SET IDENTITY_INSERT [dbo].[Centers] OFF
SET IDENTITY_INSERT [dbo].[Organizations] ON 

SET IDENTITY_INSERT [dbo].[Organizations] OFF
SET IDENTITY_INSERT [dbo].[Users] ON 

SET IDENTITY_INSERT [dbo].[Users] OFF
ALTER TABLE [dbo].[Organizations]  WITH CHECK ADD  CONSTRAINT [FK_Organizations_Centers] FOREIGN KEY([CenterId])
REFERENCES [dbo].[Centers] ([Id])
GO
ALTER TABLE [dbo].[Organizations] CHECK CONSTRAINT [FK_Organizations_Centers]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'منظمة عامة
منظمة مختصّة' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Organizations', @level2type=N'COLUMN',@level2name=N'IsGeneral'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'نعم 
لا' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Organizations', @level2type=N'COLUMN',@level2name=N'HaveDatabase'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'yes
no
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Organizations', @level2type=N'COLUMN',@level2name=N'DatabaseSupport'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'1-فني
2-لوجستي
3-مالي' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Organizations', @level2type=N'COLUMN',@level2name=N'DatabaseSupportType'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'yes 
no' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Organizations', @level2type=N'COLUMN',@level2name=N'Cooperat'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'1-المراقبة
2-التوعية
3-Other' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Organizations', @level2type=N'COLUMN',@level2name=N'CooperatField'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'0-sinup
1-done confirm' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Organizations', @level2type=N'COLUMN',@level2name=N'Level'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'1-admin
2-centerAdmin
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Users', @level2type=N'COLUMN',@level2name=N'UserType'
GO
USE [master]
GO
