USE [VAS]
GO
/****** Object:  Table [dbo].[Cutomers]    Script Date: 25/12/2019 04:43:07 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cutomers](
	[CustomerId] [bigint] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](50) NULL,
	[Phone] [nvarchar](25) NULL,
	[BirthDate] [datetime] NULL,
	[CompanyName] [nchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[Status] [smallint] NULL,
	[CreatedBy] [bigint] NULL,
	[CreatedOn] [datetime] NULL,
 CONSTRAINT [PK_Cutomers] PRIMARY KEY CLUSTERED 
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SentSMS]    Script Date: 25/12/2019 04:43:07 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SentSMS](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[ShortCode] [int] NULL,
	[CreatedOn] [datetime] NULL,
	[Status] [smallint] NULL,
 CONSTRAINT [PK_SentSMS] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShoortNumber]    Script Date: 25/12/2019 04:43:07 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShoortNumber](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Code] [int] NULL,
	[Amount] [int] NULL,
	[From] [datetime] NULL,
	[To] [datetime] NULL,
	[SMSCount] [int] NULL,
	[UsageSMS] [int] NULL,
	[Service] [nvarchar](150) NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [bigint] NULL,
	[CustomerId] [bigint] NULL,
	[State] [smallint] NULL,
 CONSTRAINT [PK_ShoortNumber] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShoortNumberActions]    Script Date: 25/12/2019 04:43:07 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShoortNumberActions](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ShoortNumberId] [bigint] NULL,
	[ActionType] [smallint] NULL,
	[ActionDescription] [nvarchar](100) NULL,
	[Amount] [int] NULL,
	[SMSCount] [int] NULL,
	[From] [datetime] NULL,
	[To] [datetime] NULL,
	[CreatedBy] [bigint] NULL,
	[CreatecdOn] [datetime] NULL,
 CONSTRAINT [PK_ShoortNumberActions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 25/12/2019 04:43:07 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[LoginName] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[Password] [nvarchar](250) NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [bigint] NULL,
	[Image] [varbinary](max) NULL,
	[Phone] [nvarchar](25) NULL,
	[BirthDate] [datetime] NULL,
	[State] [smallint] NULL,
	[LoginTryAttemptDate] [datetime] NULL,
	[LoginTryAttempts] [smallint] NULL,
	[LastLoginOn] [datetime] NULL,
	[Gender] [smallint] NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Cutomers] ON 

INSERT [dbo].[Cutomers] ([CustomerId], [FullName], [Phone], [BirthDate], [CompanyName], [Email], [Status], [CreatedBy], [CreatedOn]) VALUES (1, N'Ahmed', N'0921234567', CAST(N'2018-01-01T00:00:00.000' AS DateTime), N'مسارات                                            ', N'masarat@jk', NULL, NULL, NULL)
INSERT [dbo].[Cutomers] ([CustomerId], [FullName], [Phone], [BirthDate], [CompanyName], [Email], [Status], [CreatedBy], [CreatedOn]) VALUES (2, N'Ali', N'0917294572', CAST(N'2018-01-01T00:00:00.000' AS DateTime), N'ساربة الجبل                                       ', N'masarat@jk', 9, NULL, NULL)
INSERT [dbo].[Cutomers] ([CustomerId], [FullName], [Phone], [BirthDate], [CompanyName], [Email], [Status], [CreatedBy], [CreatedOn]) VALUES (3, N'Abdo', N'0923334572', CAST(N'2018-01-01T00:00:00.000' AS DateTime), N'الخهط الأمامي                                     ', N'masarat@jk', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Cutomers] OFF
SET IDENTITY_INSERT [dbo].[ShoortNumber] ON 

INSERT [dbo].[ShoortNumber] ([Id], [Code], [Amount], [From], [To], [SMSCount], [UsageSMS], [Service], [CreatedOn], [CreatedBy], [CustomerId], [State]) VALUES (1, 1616, 500, CAST(N'2018-01-01T00:00:00.000' AS DateTime), CAST(N'2019-01-01T00:00:00.000' AS DateTime), 50, 0, N'رسائل نصية', CAST(N'2018-01-01T00:00:00.000' AS DateTime), 1, 1, 1)
INSERT [dbo].[ShoortNumber] ([Id], [Code], [Amount], [From], [To], [SMSCount], [UsageSMS], [Service], [CreatedOn], [CreatedBy], [CustomerId], [State]) VALUES (2, 1717, 1000, CAST(N'2018-01-01T00:00:00.000' AS DateTime), CAST(N'2019-01-01T00:00:00.000' AS DateTime), 500, 50, N'رسائل ترويجية ', CAST(N'2018-01-01T00:00:00.000' AS DateTime), 1, 1, 1)
INSERT [dbo].[ShoortNumber] ([Id], [Code], [Amount], [From], [To], [SMSCount], [UsageSMS], [Service], [CreatedOn], [CreatedBy], [CustomerId], [State]) VALUES (3, 1818, 500, CAST(N'2018-01-01T00:00:00.000' AS DateTime), CAST(N'2019-01-01T00:00:00.000' AS DateTime), 50, 0, N'دعاية', CAST(N'2018-01-01T00:00:00.000' AS DateTime), 1, 1, 1)
SET IDENTITY_INSERT [dbo].[ShoortNumber] OFF
SET IDENTITY_INSERT [dbo].[ShoortNumberActions] ON 

INSERT [dbo].[ShoortNumberActions] ([Id], [ShoortNumberId], [ActionType], [ActionDescription], [Amount], [SMSCount], [From], [To], [CreatedBy], [CreatecdOn]) VALUES (5, 18, 1, N'تجديد الباقة', 50, 150, CAST(N'2019-01-01T00:00:00.000' AS DateTime), CAST(N'2020-05-05T00:00:00.000' AS DateTime), 1, CAST(N'2019-01-01T00:00:00.000' AS DateTime))
INSERT [dbo].[ShoortNumberActions] ([Id], [ShoortNumberId], [ActionType], [ActionDescription], [Amount], [SMSCount], [From], [To], [CreatedBy], [CreatecdOn]) VALUES (6, 18, 2, N'إيقاف الباقة', 50, 150, CAST(N'2019-01-01T00:00:00.000' AS DateTime), CAST(N'2020-05-05T00:00:00.000' AS DateTime), 1, CAST(N'2019-01-01T00:00:00.000' AS DateTime))
INSERT [dbo].[ShoortNumberActions] ([Id], [ShoortNumberId], [ActionType], [ActionDescription], [Amount], [SMSCount], [From], [To], [CreatedBy], [CreatecdOn]) VALUES (7, 18, 1, N'تجديد الباقة', 50, 150, CAST(N'2019-01-01T00:00:00.000' AS DateTime), CAST(N'2020-05-05T00:00:00.000' AS DateTime), 1, CAST(N'2019-01-01T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[ShoortNumberActions] OFF
SET IDENTITY_INSERT [dbo].[Users] ON 

SET IDENTITY_INSERT [dbo].[Users] OFF
ALTER TABLE [dbo].[ShoortNumber] ADD  CONSTRAINT [DF_ShoortNumber_State]  DEFAULT ((1)) FOR [State]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_State]  DEFAULT ((0)) FOR [State]
GO
ALTER TABLE [dbo].[ShoortNumber]  WITH CHECK ADD  CONSTRAINT [FK_ShoortNumber_Cutomers] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Cutomers] ([CustomerId])
GO
ALTER TABLE [dbo].[ShoortNumber] CHECK CONSTRAINT [FK_ShoortNumber_Cutomers]
GO
ALTER TABLE [dbo].[ShoortNumberActions]  WITH CHECK ADD  CONSTRAINT [FK_ShoortNumberActions_ShoortNumber] FOREIGN KEY([ShoortNumberId])
REFERENCES [dbo].[ShoortNumber] ([Id])
GO
ALTER TABLE [dbo].[ShoortNumberActions] CHECK CONSTRAINT [FK_ShoortNumberActions_ShoortNumber]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'9-delete
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Cutomers', @level2type=N'COLUMN',@level2name=N'Status'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'hint of service ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ShoortNumber', @level2type=N'COLUMN',@level2name=N'Service'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'1-active
2-nit active
3-stopped
9-delete
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ShoortNumber', @level2type=N'COLUMN',@level2name=N'State'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'1-new product
2-charge
3-stopped
4-canselStopped' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ShoortNumberActions', @level2type=N'COLUMN',@level2name=N'ActionType'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'1-active
2-not active
3-stopped
9-delete
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Users', @level2type=N'COLUMN',@level2name=N'State'
GO
