<div class="content" style="direction: rtl;">
    <el-form :model="customersInfo" ref="customersInfo" >
        <div class="row">

            <div class="col-md-6">
                <div class="card ">
                    <div class="card-header ">
                        <h4 class="card-title">البيانات الشخصية</h4>
                    </div>
                    <div class="card-body ">
                        <form >
                            <label>إسم العميل</label>

                            <div class="form-group">
                                <el-form-item prop="name"
                                                label-width="0px"
                                                :rules="[{required: true, message: 'الرجاء إدخال إسم العميل'} ]">
                                    <el-input type="name"
                                                placeholder="إسم العميل"
                                                v-model="customersInfo.name"
                                                autocomplete="off" />
                                </el-form-item>
                            </div>


                            <label>رقم الهاتف</label>
                            <div class="form-group">
                                <el-form-item prop="phone"
                                                label-width="0px"
                                                :rules="[{required: true, message: 'الرجاء إدخال رقم الهاتف'}
                                                ,{ type: 'number', message: 'يجب أن يكون الحقل أرقام فقط'}]">
                                    <el-input type="phone"
                                                placeholder="رقم الهاتف"
                                                v-model.number="customersInfo.phone"
                                                autocomplete="off" />
                                </el-form-item>
                            </div>
                            <label>تاريخ الميلاد</label>
                            <el-form-item prop="date"
                                            label-width="0px"
                                            :rules="[{ required: true, message: 'الرجاء إدخال تاريخ  الميلاد'} ]">

                                <el-date-picker style="width:100%"
                                                v-model="customersInfo.date"
                                                type="date"
                                                placeholder="الرجاء إدخال">
                                </el-date-picker>

                            </el-form-item>
                                

                        </form>
                    </div>

                </div>
            </div>
            <div class="col-md-6">
                <div class="card ">
                    <div class="card-header ">
                        <h4 class="card-title">بيانات الإتصال</h4>
                    </div>
                    <div class="card-body ">
                        <form>
                            <label>البريد الإلكتروني</label>
                            <div class="form-group">
                                <el-form-item prop="email"
                                                label-width="0px"
                                                :rules="[{required: true, message: 'الرجاء إدخال البريد الإلكتروني'} ]">
                                    <el-input type="email"
                                                placeholder="البريد الإلكتروني"
                                                v-model="customersInfo.email"
                                                autocomplete="off" />
                                </el-form-item>
                            </div>

                            <label>إسم الشركة</label>
                            <div class="form-group">
                                <el-form-item prop="companyName"
                                                label-width="0px"
                                                :rules="[{required: true, message: 'الرجاء إدخال إسم الشركة'} ]">
                                    <el-input type="companyName"
                                                placeholder="إسم الشركة"
                                                v-model="customersInfo.companyName"
                                                autocomplete="off" />
                                </el-form-item>
                            </div>
                            <label>عنوان الشركة</label>
                            <div class="form-group">
                                <el-form-item prop="companyAddress"
                                                label-width="0px"
                                                :rules="[{required: true, message: 'الرجاء إدخال عنوان الشركة'} ]">
                                    <el-input type="companyAddress"
                                                placeholder="عنوان الشركة"
                                                v-model="customersInfo.companyAddress"
                                                autocomplete="off" />
                                </el-form-item>
                            </div>

                        </form>
                    </div>

                </div>
            </div>
            <div class="col-md-12">
                <div class="card ">
                    <div class="card-header ">
                        <h4 class="card-title">بيــانــات الخـــدمـــة </h4>
                    </div>
                    <div class="card-body ">
                        <form class="form-horizontal">

                            <div class="row">
                                <label class="col-sm-2 col-form-label"></label>
                                <div class="col-sm-10">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label>إسم الخدمة</label>
                                            <div class="form-group">
                                                <el-form-item prop="serviceName"
                                                                label-width="0px"
                                                                :rules="[{required: true, message: 'الرجاء إدخال إسم الخدمة'} ]">
                                                    <el-input type="serviceName"
                                                                placeholder="إسم الخدمة"
                                                                v-model="customersInfo.serviceName"
                                                                autocomplete="off" />
                                                </el-form-item>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label>رقم الخدمة</label>
                                            <div class="form-group">
                                                <el-form-item prop="code"
                                                                label-width="0px"
                                                                :rules="[{required: true, message: 'الرجاء إدخال رقم الخدمة'}
                                                                ,{ type: 'number', message: 'يجب أن يكون الحقل أرقام فقط'}]">
                                                    <el-input type="code"
                                                                placeholder="رقم الخدمة"
                                                                v-model.number="customersInfo.code"
                                                                autocomplete="off" />
                                                </el-form-item>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label>القيمة</label>
                                            <div class="form-group">
                                                <el-form-item prop="amount"
                                                                label-width="0px"
                                                                :rules="[{required: true, message: 'الرجاء إدخال القيمة'}
                                                                ,{ type: 'number', message: 'يجب أن يكون الحقل أرقام فقط'}]">
                                                    <el-input type="amount"
                                                                placeholder="القيمة"
                                                                v-model.number="customersInfo.amount"
                                                                autocomplete="off" />
                                                </el-form-item>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <label class="col-sm-2 col-form-label"></label>
                                <div class="col-sm-10">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>عدد الرسائل</label>
                                            <div class="form-group">
                                                <el-form-item prop="countMassage"
                                                                label-width="0px"
                                                                :rules="[{required: true, message: 'الرجاء إدخال عدد الرسائل'}
                                                                ,{ type: 'number', message: 'يجب أن يكون الحقل أرقام فقط'}]">
                                                    <el-input type="countMassage"
                                                                placeholder="عدد الرسائل"
                                                                v-model.number="customersInfo.countMassage"
                                                                autocomplete="off" />
                                                </el-form-item>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <label>عدد الرسائل المستخدمة</label>
                                            <div class="form-group">
                                                <el-form-item prop="countUseMassage"
                                                                label-width="0px"
                                                                :rules="[{required: true, message: 'الرجاء إدخال عدد الرسائل المستخدمة'}
                                                                ,{ type: 'number', message: 'يجب أن يكون الحقل أرقام فقط'}]">
                                                    <el-input type="countUseMassage"
                                                                placeholder="عدد الرسائل المستخدمة"
                                                                v-model.number="customersInfo.countUseMassage"
                                                                autocomplete="off" />
                                                </el-form-item>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-sm-2 col-form-label"></label>
                                <div class="col-sm-10">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>تاريخ صلايحة الباقة </label>

                                            <el-form-item prop="from"
                                                            label-width="0px"
                                                            :rules="[{ required: true, message: 'الرجاء إدخال تاريخ  '} ]">

                                                <el-date-picker style="width:100%"
                                                                v-model="customersInfo.from"
                                                                type="date"
                                                                placeholder="من">
                                                </el-date-picker>

                                            </el-form-item>

                                        </div>

                                        <div class="col-md-6">
                                            <label>إلــي  </label>

                                            <el-form-item prop="to"
                                                            label-width="0px"
                                                            :rules="[{ required: true, message: 'الرجاء إدخال تاريخ  '} ]">

                                                <el-date-picker style="width:100%"
                                                                v-model="customersInfo.to"
                                                                type="date"
                                                                placeholder="إلي">
                                                </el-date-picker>

                                            </el-form-item>

                                        </div>

                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <label class="col-sm-2 col-form-label"></label>
                                <div class="col-sm-10">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">

                                                <div class="disabled-sorting text-right" style="margin-top:16px">

                                                    <el-button class="btn btn-primary" type="primary" @click="submitForm('customersInfo')">إضافة مستخدم</el-button>

                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </el-form>
</div>
        
    