<div class="content" style="direction:rtl">
    <div class="row">
        <div class="col-md-12">
            <div class="content">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card ">
                            <div class="card-header ">
                                <h5 class="card-title">مسار ملف التخزين</h5>
                            </div>
                            <div class="card-body ">
                                <div class="form-group">
                                    <input type="text" class="form-control datetimepicker" v-model="form.path" style="direction: ltr;">
                                </div>
                                <div class="disabled-sorting text-right">
                                    <button type="button" class="el-button btn btn-primary el-button--primary" @click.prevent="EditPaht()"><span>تعديل البيانات</span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card ">
                            <div class="card-header ">
                                <h5 class="card-title">الإمتداد الخاص بالملفات</h5>
                            </div>
                            <div class="card-body ">
                                <div class="form-group">
                                    <input type="text" class="form-control datetimepicker" v-model="extensions" style="direction: ltr;">
                                </div>
                                <div class="disabled-sorting text-right">
                                    <button type="button" class="el-button btn btn-primary el-button--primary" @click.prevent="Editextensions()"><span>تعديل البيانات</span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card ">
                            <div class="card-header ">
                                <h5 class="card-title">الحد الأقصي لنسبة الإستهلاك</h5>
                            </div>
                            <div class="card-body ">
                                <div class="form-group">
                                    <input type="text" class="form-control datetimepicker" v-model="grade" style="direction: ltr;">
                                </div>
                                <div class="disabled-sorting text-right">
                                    <button type="button" class="el-button btn btn-primary el-button--primary" @click.prevent="Editgrade()"><span>تعديل البيانات</span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <div class="card">

                <div class="card-header">
                    <h4 class="card-title"><i class="nc-icon nc-single-copy-04" style="color:#ef8157 ;margin-left: 5px;"></i> إدارة الملفات الخاصة بالنظام</h4>
                </div>
                <div class="card-body">


                    <br />

                    <div class="row">
                        <div class="col-md-7">

                            <el-select style="width: 100%;" filterable placeholder="البحت" v-model="Selectedfile" @change="getfileContent();">

                                <el-option v-for="item in files"
                                           :key="item.id"
                                           :label="item.name"
                                           :value="item.id">
                                </el-option>

                            </el-select>
                        </div>



                    </div>

                    <div v-if="fileContent==0">
                        <br />
                        <br />
                        <el-alert type="info" style="font-size: 20px;margin-right: 14px;line-height: 18px;" title="">
                            عفــوا! لاتوجد بيانات للحركات الخاصة بالباقة
                        </el-alert>
                    </div>

                    <br v-if="fileContent!=0" />
                    <br v-if="fileContent!=0" />

                    <div class="table-responsive" style="padding:10px;overflow: hidden;" v-if="fileContent!=0">

                        <table class="table">
                            <thead class="">
                                <tr style="text-align:center" class="text-primary">
                                    <th>
                                        #
                                    </th>
                                    <th>
                                        معرف الخدمة
                                    </th>
                                    <th>
                                        عدد الرسائل
                                    </th>
                                    <th>
                                        التاريخ
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="item,index in fileContent" style="text-align:center">
                                    <td>
                                        {{index+1 }}
                                    </td>
                                    <td>
                                        {{item.code }}
                                    </td>
                                    <td>
                                        {{item.count }}
                                    </td>
                                    <td>
                                        {{item.createcdOn | moment}}
                                    </td>

                                </tr>
                            </tbody>

                        </table>

                        <hr />
                        <div class="row" dir="ltr">

                            <div class="col-sm-12 col-md-6">

                                <div class="disabled-sorting text-right" id="datatable_info" role="status" aria-live="polite">Showing {{pageNo}} to {{pageSize}} of {{pages}} entries</div>

                            </div>
                            <div class="col-sm-12 col-md-6">

                                <div class="disabled-sorting text-left"
                                     id="datatable_info"
                                     aria-live="polite"
                                     role="status">

                                    <el-pagination background
                                                   layout="prev, pager, next"
                                                   :current-page="pageNo"
                                                   :page-size="pageSize"
                                                   :total="pages"
                                                   @current-change="getfileContent($event)">
                                    </el-pagination>

                                </div>

                            </div>



                        </div>
                    </div>
                </div>
                <!-- end content-->
            </div>


            <!--  end card  -->
        </div>
        <!-- end col-md-12 -->
    </div>
</div>

       