

    <div class="content" dir="rtl">


        <div class="col-xs-12 col-sm-12 col-md-7 col-md-offset-2">

                <form id="RegisterValidation" action="" method="" novalidate="novalidate">
                    <div class="card ">
                        <div class="card-header card-header-rose card-header-icon">
                            <div class="card-icon">
                                <i class="material-icons">verified_user</i>
                            </div>
                            <h4 class="card-title">تغير كلمة المرور</h4>
                        </div>
                        <br />
                        <div class="card-body ">
                            <div class="form-group bmd-form-group">
                                <label for="exampleEmail" class="bmd-label-floating"> كلمة المرور الحاليه <small style="color:red">* </small></label>
                                <input type="password" v-model="form.Password" class="form-control" id="exampleEmail" aria-required="true">
                            </div>
                            <br />
                            <div class="form-group bmd-form-group">
                                <label for="examplePassword" class="bmd-label-floating">كلمة المرور الجديده <small style="color:red">* </small> </label>
                                <input type="password" v-model="form.NewPassword" class="form-control" id="examplePassword" name="password" aria-required="true">
                            </div>
                            <br />
                            <div class="form-group bmd-form-group">
                                <label for="examplePassword1" class="bmd-label-floating">تأكيد كلمة المرور الجديده <small style="color:red">* </small> </label>
                                <input type="password" v-model="ConfimPassword" class="form-control" id="examplePassword1" equalto="#examplePassword" name="password_confirmation" aria-required="true">
                            </div>
                        </div>
                        <div class="card-footer text-right">
                            <div class="form-check mr-auto">
                                
                            </div>
                            <button type="submit" @click.prevent="Save()" class="btn btn-rose">تغير كلمة المرور</button>
                        </div>
                    </div>
                </form>



        </div>

    </div>

