

    <div class="content" style="direction:rtl">
        <add-Users v-if="state==1"></add-Users>
        <edit-Users v-if="state==2"></edit-Users>
        <div class="row" v-if="state==0">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title"><i class="nc-icon nc-badge" style="color:#ef8157;margin-left: 10px;"></i>إدارة المستخدمين</h4>
                    </div>
                    <div class="card-body">
                        <div class="toolbar">

                            <br />
                            <br />

                            <div class="disabled-sorting text-right" style="margin-top:-49px">
                                <el-button class="btn btn-primary" type="primary" @click="addUser">إضافة مستخدم</el-button>
                            </div>



                        </div>
                        <br />
                        <br />
                        <table id="datatable" class="table table-striped table-bordered" cellspacing="0">
                            <thead>
                                <tr class="text-primary">
                                    <th>#</th>
                                    <th>الإسم</th>
                                    <th>إسم الدخول </th>
                                    <th>رقم الهاتف </th>
                                    <th>تاريخ الميلاد </th>
                                    <th>الصورة الشخصية </th>
                                    <th>البريد الإلكتروني </th>

                                    <th class="disabled-sorting text-right">الإعدادات</th>
                                </tr>
                            </thead>
                            <tbody style="text-align:right">
                                <tr v-for="item,index in users" style="font-size:11.3pt;">
                                    <td>{{index+1 }} </td>
                                    <td>{{item.name }} </td>
                                    <td>{{item.loginName}}</td>
                                    <td>{{item.phone}}</td>
                                    <td>{{item.birthDate | moment}}</td>
                                    <td><a :href="'http://localhost:4810/Api/Admin/User/' + item.userId + '/image'"><img :src="'http://localhost:4810/Api/Admin/User/' + item.userId + '/image'" style="height: 80px; width:80px" /></a></td>
                                    <td>{{item.email}}</td>

                                    <td class="text-right">

                                        <a title="تعديل البيانات" href="#" class="btn btn-warning btn-link btn-icon btn-sm edit" @click.prevent="EditUser(item)">
                                            <i class="fa fa-edit" style="font-size:24px"></i>
                                        </a>

                                        <a title="ايقاف" href="#" class="btn btn-info btn-link btn-icon btn-sm like"
                                           @click.prevent="DeactivateUser(item.userId)"
                                           v-if="item.state==1">
                                            <i class="fa fa-lock" style="font-size:24px"></i>
                                        </a>

                                        <a title="تفعيل الحساب" href="#" class="btn btn-info btn-link btn-icon btn-sm like"
                                           @click.prevent="ActivateUser(item.userId)"
                                           v-if="item.state==2 || item.stat==0">
                                            <i class="fa fa-unlock" style="font-size:24px"></i>
                                        </a>

                                        <a title="حدف المستخدم" href="#" class="btn btn-danger btn-link btn-icon btn-sm remove" @click.prevent="delteUser(item.userId)">
                                            <i class="fa fa-times" style="font-size:24px"></i>
                                        </a>


                                    </td>

                                </tr>
                            </tbody>
                        </table>
                        <div class="row" dir="ltr">
                            <div class="col-sm-12 col-md-5">
                                <div class="disabled-sorting text-right" id="datatable_info" role="status" aria-live="polite">Showing {{pageNo}} to {{pageSize}} of {{pages}} entries</div>
                            </div>

                            <div style="text-align: center; ">

                                <el-pagination background
                                               layout="prev, pager, next"
                                               :current-page="pageNo"
                                               :page-size="pageSize"
                                               :total="pages"
                                               @current-change="getCustomers($event)">
                                </el-pagination>

                            </div>

                        </div>
                    </div>
                    <!-- end content-->
                </div>
                <!--  end card  -->
            </div>
            <!-- end col-md-12 -->
        </div>
        <!-- end row -->
    </div>





<!--
<div class="content" dir="rtl">
    <add-Users v-if="state==1"></add-Users>
    <edit-Users v-if="state==2"></edit-Users>
    <div class="container-fluid" v-if="state==0">
        <div class="row">
            <div class="col-md-12">
                <div class="card" style="height: auto">
                    <div class="card-header card-header-primary card-header-icon">
                        <div class="card-icon">
                            <i class="fa fa-bars" aria-hidden="true" style="color:white;"></i>
                        </div>
                        <h4 class="card-title">المستخدمين  </h4>

                    </div>
                    <div class="">

                        <div class="headerCustom">
                            <div>
                                <el-button class="btn btn-rose pull-right" type="primary" v-if="(PermissionModale==1 || PermissionModale==2 || PermissionModale==4 || PermissionModale==5|| PermissionModale==6 || Office!=0) && loginDetails.userType==1" @click.prevent="AddUser()">إضافة مستخدم</el-button>
                                <div class="selectCompany">

                                    <el-select class="SelectUser"
                                               v-model="PermissionModale"
                                               @change="SelectedPermissionFun()"
                                               filterable placeholder="الصلاحية">
                                        <el-option v-for="item in Permissions"
                                                   :key="item.id"
                                                   :label="item.name"
                                                   :value="item.id">
                                        </el-option>
                                    </el-select>



                                    <el-select class="SelectUser"
                                               v-if="PermissionModale==3"
                                               @change="SelectedOfficeTypeFun()"
                                               v-model="OfficeTypeModel"
                                               filterable placeholder="انواع المكاتب">
                                        <el-option v-for="item in OfficeType"
                                                   :key="item.id"
                                                   :label="item.name"
                                                   :value="item.id">
                                        </el-option>
                                    </el-select>

                                    <el-select class="SelectUser" multiple v-if="PermissionModale==3 && OfficeTypeModel!=null" v-model="Office" filterable :placeholder="OfficePaceholder" @change="SelectedOfficeId()">
                                        <el-option v-for="item in AllOffice"
                                                   :key="item.officeId"
                                                   :label="item.officeName"
                                                   :value="item.officeId">
                                        </el-option>
                                    </el-select>
                                    <el-input class="SelectUser" placeholder="الرقم الوطني" v-model="NID" v-if="(PermissionModale==1 || PermissionModale==2 || PermissionModale==4 || PermissionModale==5||PermissionModale==6|| Office!=0)&& loginDetails.userType==1"></el-input>
                                </div>
                            </div>
                            <p class="category"></p>
                        </div>
                        <div style="width:auto">
                            <div style="padding: 35px;font-size: 35px;" v-if="Users==0">
                                <el-alert title="عفــوا! لاتوجد بيانات للمستخدمين"
                                          type="info">
                                </el-alert>
                            </div>
                            <br />


                            <div   class="content table-responsive table-full-width" v-if="Users!=0">



                                <table >
                                    <thead>
                                        <tr>
                                            <th>
                                                الاسم
                                            </th>
                                            <th>
                                                اسم المستخدم
                                            </th>
                                            <th>
                                                الصلاحية
                                            </th>
                                            <th>
                                                المكتب
                                            </th>
                                            <th>
                                                صورة
                                            </th>
                                            <th v-if="loginDetails.userType==1">
                                                الإضافة بواسطة
                                            </th>
                                            <th v-if="loginDetails.userType==1">
                                                التعديل بواسطة
                                            </th>
                                            <th v-if="loginDetails.userType==1">
                                                العمليات
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="User in Users" style="font-size:16px;text-align:center;">
                                            <td>{{User.fullName}}</td>
                                            <td dir="ltr">{{User.loginName}}</td>
                                            <td v-if="User.userType==1">المدير</td>
                                            <td v-if="User.userType==2">الشـهائد العام</td>
                                            <td v-if="User.userType==6">التقارير</td>
                                            <td v-if="User.userType==3">


                                                <span v-if="User.officeType==1">
                                                    إدارة الفروع
                                                </span>
                                                <span v-if="User.officeType==2">
                                                    مكتب الإصدار
                                                </span>
                                                <span v-if="User.officeType==3">
                                                    مكتب التوثيق
                                                </span>
                                                <span v-if="User.officeType==4">
                                                    مكتب السجلات
                                                </span>
                                            </td>
                                            <td v-if="User.userType==5">إيقاف متوفي<span v-if="User.hospital!=null">  ({{User.hospital.name}})   </span></td>
                                            <td v-if="User.userType==3">
                                                <div v-for="officeName in User.officeName">

                                                    {{officeName.officeName}}
                                                </div>
                                            </td>
                                            <td v-if="User.userType==4">البحث العام</td>
                                            <td v-if="User.userType!=3">لايوجد</td>

                                            <td><a :href="'http://localhost:443/Api/Admin/User/' + User.userId + '/image'"><img :src="'http://localhost:443/Api/Admin/User/' + User.userId + '/image'" style="height: 80px; width:80px" /></a></td>
                                            <td v-if="loginDetails.userType==1">
                                                <span v-if="(User.userName=='' || User.userName==null) && loginDetails.userType==1">
                                                    لايوجد
                                                </span>
                                                <span v-if="(User.userName!='' && User.userName!=null) && loginDetails.userType==1">
                                                    {{User.userName}}
                                                </span>
                                            </td>
                                            <td v-if="loginDetails.userType==1">
                                                <span v-if="(User.modifiedBy=='' || User.modifiedBy==null)  && loginDetails.userType==1">
                                                    لايوجد
                                                </span>
                                                <span v-if="(User.modifiedBy!='' && User.modifiedBy!=null) && loginDetails.userType==1">
                                                    {{User.modifiedBy}}
                                                </span>
                                            </td>
                                            <td v-if="loginDetails.userType==1">
                                                <a href="#" @click.prevent="EditUser(User)" v-if="loginDetails.userType==1">
                                                    <i class="fa fa-pencil-square-o" title="تعديل"></i>&nbsp;
                                                </a>
                                                <a href="#" v-if="User.status==1 && loginDetails.userType==1" @click.prevent="DeactivateUser(User.userId)">
                                                    <i class="fa fa-lock" title="ايقاف"></i>
                                                </a>
                                                <a href="#" v-if="(User.status==2 || User.status==0 )&& loginDetails.userType==1" @click.prevent="ActivateUser(User.userId)">
                                                    <i class="fa fa-unlock" title="تفعيل"></i>
                                                </a>


                                                <el-button v-if="loginDetails.userType==1" type="text" @click.prevent="dialogForm =true;changePassword(User.userId)"> <i class="fa fa-user" title="تعيين كلمة المرور"></i>&nbsp;</el-button>

                                                <el-button v-if="loginDetails.userType==1" type="text" @click.prevent="dialogTableVisible =true;print(User)"> <i class="fa fa-print" data-text="show" title="طباعة"></i>&nbsp;</el-button>

                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div style="text-align: center; margin-top: 10px;">
                                    <el-pagination background
                                                   layout="prev, pager, next"
                                                   :current-page="pageNo"
                                                   :page-size="pageSize"
                                                   :total="pages"
                                                   @current-change="GetUsers($event)">
                                    </el-pagination>
                                </div>
                            </div>


                        </div>


                    </div>

                </div>
            </div>
        </div>
    </div>

    <el-dialog dir="rtl" :visible.sync="dialogForm"
               :modalAppendToBody="false" center>

        <div class="container-fluid" dir="rtl">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">

                        <div class="card-header card-header-primary card-header-icon">
                            <div class="card-icon">
                                <i class="fa fa-bars" aria-hidden="true" style="color:white;"></i>

                            </div>

                            <div class="card-title" style="font-size:18px;font-weight:bold" dir="rtl">تعيين كلمة المرور</div>

                        </div>

                        <div class="content" style="color:black!important" dir="rtl">
                            <form>




                                <div class="row">
                                    <div class="col-md-1">
                                    </div>
                                    <div class="col-md-10">
                                        <div class="form-group">
                                            <label>كلمة المرور الجديده</label>
                                            <input v-model="form2.NewPassword" type="password" class="form-control" placeholder="كلمة المرور الجديده">
                                        </div>
                                    </div>
                                </div>
                                    <div class="row">
                                        <div class="col-md-1">
                                        </div>
                                        <div class="col-md-10">
                                            <div class="form-group">
                                                <label>تأكيد كلمة المرور</label>
                                                <input v-model="ConfimPassword" type="password" class="form-control" placeholder="تأكيد كلمة المرور">
                                            </div>
                                        </div>
                                    </div>



                                    <div class="row">
                                        <div class="col-md-1">
                                        </div>
                                        <div class="col-md-3">
                                            <button type="submit" @click.prevent="update()" class="el-button btn btn-rose pull-right el-button--primary">حفظ</button>
                                        </div>
                                        <div class="col-md-3">
                                            <el-button type="danger" @click="dialogForm= false;" class=" btn btn-white">رجوع</el-button>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
</form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </el-dialog>


    <el-dialog dir="rtl" :visible.sync="dialogFormVisible"
               :modalAppendToBody="false" center >

        <div class="container-fluid" dir="rtl">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">

                        <div class="card-header card-header-primary card-header-icon">
                            <div class="card-icon">
                                <i class="fa fa-bars" aria-hidden="true" style="color:white;"></i>

                            </div>

                            <div class="card-title" style="font-size:18px;font-weight:bold" dir="rtl">بيانات نموذج الطباعه </div>

                        </div>

                        <div class="content" style="color:black!important" dir="rtl">
                            <form>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>الاسم المسلم</label>
                                            <input type="text" class="form-control" placeholder="الاسم المسلم" v-model="form.SenderName">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>الصفه المسلم</label>
                                            <input type="text" class="form-control" placeholder="الصفه المسلم" v-model="form.Sender">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>اسم المستلم</label>
                                            <input type="text" v-model="form.RecipientName" class="form-control" placeholder="اسم المستلم">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>صفه المستلم</label>
                                            <div class="block">
                                                <input type="text" v-model="form.Recipient"
                                                       class="form-control"
                                                       placeholder="صفه المستلم">

                                            </div>
                                        </div>
                                    </div>


                                </div>

                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">اسم  المعتمد</label>
                                            <input v-model="form.AuthorizerName" type="text" class="form-control" placeholder="اسم المعتمد">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>الصفه</label>
                                            <input v-model="form.Authorizer" type="text" class="form-control" placeholder="صفه المعتمد">
                                        </div>
                                    </div>
                                    <div class="col-md-10">
                                        <div class="form-group" style="    margin-right: 96px;">
                                            <label>كلمة المرور</label>
                                            <input v-model="Password" type="text" class="form-control" placeholder="كلمة المرور">
                                        </div>
                                    </div>

                                </div>



                                <div class="row">
                                    <div class="col-md-4">
                                    </div>
                                    <div class="col-md-2">
                                        <button type="submit" @click.prevent="Save()" class="btn btn-white">طباعة</button>
                                    </div>
                                    <div class="col-md-3">
                                        <el-button type="danger" @click="dialogFormVisible= false;" class="el-button btn btn-rose pull-right el-button--primary">رجوع</el-button>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </el-dialog>

</div>
-->
