

    <div class="content" style="direction:rtl">
        <add-Users v-if="state==1"></add-Users>
        <edit-Users v-if="state==2"></edit-Users>
        <div class="row" v-if="state==0">

            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-rose card-header-icon">
                        <div class="card-icon" style="float: right;">
                            <i class="material-icons">people_alt</i>
                        </div>
                        <h4 class="card-title" style=" font-family: inherit;font-weight: bold;">إدارة المستخدمين</h4>
                    </div>
                    <div class="card-body">
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <div class="table-responsive" >
                            <table class="table table-shopping">
                                <thead>
                                    <tr class="text-primary">
                                        <th  style="font-size: 1.063rem;">بطاقة التعريف</th>
                                        <th  style="font-size: 1.063rem;">الإسم</th>
                                        <th  style="font-size: 1.063rem;">إسم الدخول</th>
                                        <th  style="font-size: 1.063rem;">رقم الهاتف</th>
                                        <th  style="font-size: 1.063rem;">البريد الإلكتروني</th>
                                        <th class="text-left" style="font-size: 1.063rem;">الإعدادات</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="item,index in users">
                                        <td>
                                            <div class="img-container">
                                                <a :href="'http://localhost:4810/Api/Admin/User/' + item.userId + '/image'"><img :src="'http://localhost:4810/Api/Admin/User/' + item.userId + '/image'" /></a>
                                            </div>
                                        </td>
                                        <td class="td-name ">
                                            <a href="#jacket">{{item.name }}</a>
                                            <br>
                                            <small v-if="item.userType==1">مدير</small>
                                            <small v-if="item.userType==2">مستخدم</small>
                                        </td>
                                        <td >
                                            {{item.loginName}}
                                        </td>
                                        <td>
                                            {{item.phone}}
                                        </td>
                                        <td >
                                            {{item.email}}
                                        </td>
                                        <td class="td-actions ">
                                            <button type="button" rel="tooltip" class="btn btn-info btn-link" data-original-title="إيقاف المستخدم" title="إيقاف المستخدم">
                                                <i class="material-icons">lock</i>
                                                <div class="ripple-container"></div>
                                            </button>
                                            <button type="button" rel="tooltip" class="btn btn-success btn-link" data-original-title="تعديل بيانات المستخدم">
                                                <i class="material-icons">edit</i>
                                            </button>
                                            <button type="button" rel="tooltip" class="btn btn-danger btn-link" data-original-title="حدف المستخدم">
                                                <i class="material-icons">close</i>
                                            </button>
                                        </td>

                                    </tr>

                                </tbody>
                            </table>
                        </div>
                        <hr />

                        <div class="row">
                            <div class="col-sm-12 col-md-7">
                                <div class="disabled-sorting"
                                     id="datatable_info"
                                     aria-live="polite"
                                     role="status">

                                    <el-pagination background
                                                   layout="prev, pager, next"
                                                   :current-page="pageNo"
                                                   :page-size="pageSize"
                                                   :total="pages"
                                                   aria-controls="datatables"
                                                   @current-change="getUser($event)">
                                    </el-pagination>

                                </div>
                            </div>
                            <div class="col-sm-12 col-md-5" style="text-align: left;">
                                <div class="dataTables_info" id="datatables_info" role="status" aria-live="polite">Showing {{pageNo}} to {{pageSize}} of {{pages}} entries</div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
