    <div class="content" style="direction:rtl">
        <div class="row">
            <div class="col-md-4">
                <div class="card card-user" style="border-radius: 9px;">
                    <div class="image">
                        <img src="/assets/img/bg/damir-bosnjak.jpg" alt="...">
                    </div>
                    <div class="card-body">
                        <div class="author">

                            <div class="form-group UploadButton" title="تغير الصورة">
                                <img class="avatar border-gray" :src="'http://localhost:4810/Api/Admin/User/' + loginDetails.userId + '/image'" alt="...">
                                <input accept="image/jpg" @change="FileChanged($event)" id="file-upload" type="file" />
                            </div>
                            <h5 class="title">{{loginDetails.loginName}}</h5>

                            <p class="description">
                                الإسم :
                                {{loginDetails.fullName}}
                            </p>
                        </div>
                        <p class="description text-center">
                            الصفة :
                            مدير النظام
                        </p>
                        <p class="description text-center">
                            رقم الهاتف :
                            {{loginDetails.phone}}
                        </p>
                        <p class="description text-center">
                            البريد الإلكتروني :
                            {{loginDetails.email}}
                        </p>
                    </div>
                    <div class="card-footer">
                        <hr>
                        <div class="button-container">
                            <div class="row">
                                <div class="col-lg-4 col-md-6 col-6 ml-auto mr-auto">
                                    <h5>
                                        {{loginDetails.dateOfBirth | moment}}
                                        <br>
                                        <small>تاريخ الميلاد</small>
                                    </h5>
                                </div>
                                <div class="col-lg-4 col-md-6 col-6 ml-auto mr-auto">
                                    <h5>
                                        نشط
                                        <br>
                                        <small>حالة الحساب</small>
                                    </h5>
                                </div>
                                <div class="col-lg-3 mr-auto">
                                    <h5>
                                        مدير النظام
                                        <br>
                                        <small>الصفة</small>
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="col-md-8">
                <div class="card" style="border-radius: 9px;">
                    <div class="card-header">
                        <h5>تعديل الملف الشخصي</h5>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="row">
                                <div class="col-md-5 pr-1">
                                    <div class="form-group">
                                        <label>الإسم التلاتي</label>
                                        <input type="text" style="border-radius: 4px;" class="form-control" v-model="form.FullName" placeholder="الإسم التلاتي" value="Creative Code Inc.">
                                    </div>
                                </div>
                                <div class="col-md-3 px-1">

                                    <div class="form-group">
                                        <label class="">اسم الدخول</label><input style="border-radius: 4px;" type="text" class="form-control" v-model="form.LoginName" placeholder="اسم الدخول">
                                    </div>
                                </div>
                                <div class="col-md-4 pl-1">
                                    <div class="form-group">
                                        <label class="">البريد الإلكتروني</label>
                                        <input placeholder="Email" type="email" style="border-radius: 4px;" class="form-control" v-model="form.Email">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 pr-1">
                                    <label class="">الجنس</label>
                                    <div class="form-group">
                                        <el-select style="width: 100%;" filterable placeholder="الجنس" v-model="form.Gender">
                                            <el-option style="border-radius: 0.25rem 0.25rem 0 0;" v-for="item in [{id:1,Gender:'ذكـر'},{id:2,Gender:'انـثي'}]"
                                                       :key="item.id"
                                                       :label="item.Gender"
                                                       :value="item.id">
                                            </el-option>
                                        </el-select>
                                    </div>
                                </div>
                                <div class="col-md-6 pl-1">
                                    <label class="">تاريخ الميلاد</label>
                                    <div class="block">
                                        <el-date-picker v-model="form.DateOfBirth"
                                                        type="date"
                                                        placeholder="تاريخ الميلاد" style="width:100%;">
                                        </el-date-picker>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 pr-1">
                                    <div class="form-group">
                                        <label class="">رقم الهاتف</label><input style="border-radius: 4px;" type="text" class="form-control" v-model="form.Phone" placeholder="رقم الهاتف">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 pr-1">
                                    <div class="form-group">
                                        <label>تاريخ فتح الحساب</label>
                                        <input type="text" class="form-control" disabled  style="border-radius: 4px;" value="12-12-2019">
                                    </div>
                                </div>
                                <div class="col-md-4 px-1">
                                    <div class="form-group">
                                        <label>المسمي الوظيفي</label>
                                        <input type="text" style="border-radius: 4px;" class="form-control" disabled value="مدير النظام">
                                    </div>
                                </div>

                            </div>
                            <div class="row" style="padding-top: 55px; float: left;padding-left: 10px;">
                                <div class="col-md-4 pr-1">
                                    <el-button class="btn btn-tumblr" @click.prevent="Save()">
                                        تعديل الملف الشخصي
                                    </el-button>
                                </div>

                            </div>
                            
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
