




        
    <div class="content" style="direction:rtl">
        <add-coustomers v-if="state==1"></add-coustomers>
        <customersSteps v-if="state==2"></customersSteps>
        <div class="row" v-if="state==0" >
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">DataTables.net</h4>
                    </div>
                    <div class="card-body">
                        <div class="toolbar">

                            <!--        Here you can write extra buttons/actions for the toolbar              -->

                            <div class="row">
                                <div class="col-md-3">

                                    <el-select style="width: 100%;" filterable placeholder="البحت" v-model="SearchTypeSelected" @change="getPackeges(1,0,0)">

                                        <el-option v-for="item in SearchType"
                                                   :key="item.id"
                                                   :label="item.name"
                                                   :value="item.id">
                                        </el-option>

                                    </el-select>
                                </div>

                                <div class="col-md-3" v-if="SearchTypeSelected==1">

                                    <el-select style="width: 100%;" filterable placeholder="إسم العميل" v-model="CoustmorSelected" @change="getPackeges(1,1,CoustmorSelected)">

                                        <el-option v-for="item in custmors"
                                                   :key="item.customerId"
                                                   :label="item.fullName"
                                                   :value="item.customerId">
                                        </el-option>

                                    </el-select>
                                </div>

                                <div class="col-md-3" v-if="SearchTypeSelected==2">

                                    <el-select style="width: 100%;" filterable placeholder="رقم الخدمة" v-model="CodeSelectd" @change="getPackeges(1,1,CodeSelectd)">

                                        <el-option v-for="item in codes"
                                                   :key="item.id"
                                                   :label="item.code"
                                                   :value="item.id">
                                        </el-option>

                                    </el-select>
                                </div>

                                <div class="col-md-3" v-if="SearchTypeSelected==3">

                                    <el-select style="width: 100%;" filterable placeholder="الحالة" v-model="pakegeStatusSelected">

                                        <el-option v-for="item in pakegeStatus"
                                                   :key="item.id"
                                                   :label="item.name"
                                                   :value="item.id">
                                        </el-option>

                                    </el-select>
                                </div>



                            </div>

                            <div class="disabled-sorting text-right" style="margin-top:-49px">
                                <el-button class="btn btn-primary" type="primary" @click="addCustomur">إضافة عميل</el-button>
                            </div>



                        </div>
                        <br />
                        <br />
                        <table id="datatable" class="table table-striped table-bordered" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>ترقيم</th>
                                    <th>إسم العميل</th>
                                    <th>رقم الهاتف </th>
                                    <th>عدد الباقات </th>
                                    <th>إجمالي عدد الرسائل </th>
                                    <th>الرسائل المتبقية </th>
                                    <th> تاريخ الميلاد </th>
                                    <th>إسم الشركة</th>
                                    <th>البريد الإلكتروني</th>
                                    <th class="disabled-sorting text-right">الإعدادات</th>
                                </tr>
                            </thead>
                            <tbody style="text-align:right">
                                <tr v-for="item,index in custmors" style="font-size:11.3pt;">
                                    <td>{{index+1 }} </td>
                                    <td>{{item.fullName }} </td>
                                    <td>{{item.phone}}</td>
                                    <td>{{item.packgeCount}}</td>
                                    <td v-if="item.countsms!=null">{{item.countsms}}</td>
                                    <td v-if="item.countsms==null">0</td>
                                    <td v-if="item.remindsms!=null">{{item.remindsms}}</td>
                                    <td v-if="item.remindsms==null">0</td>
                                    <td>{{item.birthDate | moment}}</td>
                                    <td>{{item.companyName}}</td>
                                    <td>{{item.email}}</td>

                                    <td class="text-right">
                                        
                                        <a title="متابعة العميل" href="#" class="btn btn-info btn-link btn-icon btn-sm like" @click.prevent="viewCustmor(item)">
                                            <i class="fa fa-line-chart" style="font-size:13px"></i>
                                        </a>
                                        
                                        <a title="حدف العميل" href="#" class="btn btn-danger btn-link btn-icon btn-sm remove">
                                            <i class="fa fa-times" style="font-size:13px"></i>
                                        </a>
                                    </td>

                                </tr>
                            </tbody>
                        </table>
                        <div class="row" dir="ltr">
                            <div class="col-sm-12 col-md-5">
                                <div class="disabled-sorting text-right" id="datatable_info" role="status" aria-live="polite">Showing {{pageNo}} to {{pageSize}} of {{pages}} entries</div>
                            </div>

                            <div style="text-align: center; ">

                                <el-pagination background
                                               layout="prev, pager, next"
                                               :current-page="pageNo"
                                               :page-size="pageSize"
                                               :total="pages"
                                               @current-change="getCustomers($event)">
                                </el-pagination>

                            </div>

                        </div>
                    </div>
                    <!-- end content-->
                </div>
                <!--  end card  -->
            </div>
            <!-- end col-md-12 -->
        </div>
        <!-- end row -->
    </div>

       