/*@import "assets/css/pe-icon-7-stroke.css";*/


@font-face {
    font-family: 'DroidArabicKufiRegular';
    src: url('fonts/DroidKufi-Regular.eot') format('embedded-opentype'), url('fonts/DroidKufi-Regular.woff') format('woff'), url('fonts/DroidKufi-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


.text-white {
    font-family: 'DroidArabicKufiRegular' !important;
    color: #fff !important;
}



.el-form--label-top .el-form-item__label {
    float: right!important;
    display: inline-block;
    text-align: right!important;
    padding: 0 0 0px!important;
}

.el-radio.is-bordered + .el-radio.is-bordered {
    margin-right: 10px;
}

.el-radio__label {
    font-size: 14px;
    padding-right: 10px;
}

.el-checkbox__label {
    display: inline-block;
    padding-right: 10px;
    line-height: 19px;
    font-size: 14px;
}

/*.el-form--label-top .el-form-item__label {
    float: none;
    color: black;
    display: inline-block;
    text-align: left;
    padding: 0 0 0px;
}*/


.el-input__inner {
    -webkit-appearance: none;
    background-color: #fff;
    background-image: none;
    border-radius: 4px;
    border: 1px solid #dcdfe6;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #606266;
    display: inline-block;
    font-size: inherit;
    height: 40px;
    line-height: 1;
    outline: 0;
    padding: 0 15px;
    -webkit-transition: border-color .2s cubic-bezier(.645,.045,.355,1);
    transition: border-color .2s cubic-bezier(.645,.045,.355,1);
    width: 100%;
    text-align: right;
}

.title {
    font-family: 'DroidArabicKufiRegular' !important;
    font-size: 20px ;
    font-weight: 500;
    letter-spacing: .02em !important;
    line-height: 1 !important;
}

.display-1, .headline {
    font-family: 'DroidArabicKufiRegular' !important;
    font-weight: 400;
    letter-spacing: normal !important;
}

.ecommerce-page .page-header .buttons .btn i {
    position: relative;
    top: 5px;
    right: 2px;
    font-size: 18px;
}

label {
    font-family: 'DroidArabicKufiRegular' !important;
    font-size: 0.875rem;
}

* {
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    font-family: 'DroidArabicKufiRegular' 
}

.dropdown-menu .dropdown-item > i, .dropdown-menu .dropdown-item > svg {
    margin-left: 1rem;
    font-size: 1rem;
    vertical-align: -17%;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    direction: rtl;
    text-align: right;
}

.btn.btn-github.btn-icon-only .btn-inner--icon i {
    top: -8px;
    left: -7px;
    font-size: 14px;
    position: relative;
}

.btn.btn-dribbble.btn-icon-only .btn-inner--icon i {
    top: -7px;
    left: -7px;
    font-size: 14px;
    position: relative;
}

.btn.btn-facebook.btn-icon-only .btn-inner--icon i {
    top: -8px;
    left: -5px;
    font-size: 14px;
    position: relative;
}

.font-weight-light {
    font-weight: 300 !important;
    font-family: 'DroidArabicKufiRegular' !important;
}



.el-form-item__error {
    color: #f56c6c;
    font-size: 12px;
    line-height: 1;
    padding-top: 4px;
    position: absolute;
    top: 100%;
    right: 0;
    font-family: 'DroidArabicKufiRegular'
}

.el-select-dropdown__item {
    font-size: 14px;
    padding: 0 20px;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #606266;
    height: 34px;
    line-height: 34px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    text-align: right;
    font-family: 'DroidArabicKufiRegular'
}

button, input, optgroup, select, textarea {
    font-family: 'DroidArabicKufiRegular';
}

.el-form-item__content {
    line-height: 40px;
    position: relative;
    font-size: 14px;
    margin-top: -14px;
}
